<!doctype html>
<html>
  <head>
    <title>Getting Started</title>
    <script src="https://js13kgames.com/webxr-src/2020/babylon.js"></script>
  </head>
  <body>
  	<canvas id="renderCanvas"></canvas>
  </body>
</html>